#HELLO
{
  font-style: italic;
  font-family:cursive ;
}
#Greeting
{
  background-color: rgb(255, 255, 255);
}
#header
{
  background-color: rgb(255, 255, 255);
}
.showpic
{
  width: auto;
  height: auto;
  max-height: 200px;
}
.popuptext
{
  pointer-events: none;
}